.piper{
    margin: auto;

}
.piperNet {
    margin: 0;
    padding: 400px;
    background-image: url('img/FEuuXKVWQAcF2xh.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #fff;}
.text{
    text-align: center;
    font-family: "Snell Roundhand", cursive;
    color: #a2a6b0;
    text-shadow:1px 8px 10px rgba(162, 157, 157, 0.49);
}

.firstname {
    margin: 0;
    background-size: cover;
    background-position: center;
    color:#450303;
    font-size: 25px;
}
.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}



.hero__message {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}

p{
    font-size: 30pt;
}
.skycamper {
    margin: 0;
    padding: 350px;
    background-image: url("img/Gidget-Retro-Teardrop-Camper-1.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #fff;
    font-size: 25pt;
}
.italic {
    font-style: italic;
}
.inst{
    margin: 30px;
    padding: 0px;

}
.h2{
    font-weight: 900;
}
.price{
    margin:10px;
    padding: 0px;


}
.block__image{
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0%;

}
.contacts{
    background-image: url("img/first_bg.jpg");
    margin: 0;
    padding: 150px;
    text-align: right;
}
.table{
    background-image: url("img/second_bg.jpg");
    padding: 160px;
    margin: 0;
    border: 0px;
    text-align: left;


}